{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}

<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="{% static "vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

<style>

	*{
		margin: 0;
		padding: 0;
	}

	h2{
		font-size: 25px;
		color: rgb(141, 243, 243);
		letter-spacing: 1.5px;
	}

	.x_panel{
		background-color: rgb(53, 51, 51);
		padding: 10px;
		border-radius: 20px;
		margin-top: 20px;
	}

	form>input {
		border-color: rgba(49, 150, 197, 0.623);
		border-radius: 0.6em;
		box-sizing: border-box;
		appearance: none;
		background-color: transparent;
		align-self: center;
		font-size: 1.6rem;
		font-weight: 700;
		letter-spacing: 1.5px;
		line-height: 1;
		margin: 20px;
		padding: 1.5em 2.5em;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		box-shadow: 0 0 40px 40px rgb(0, 76, 255) inset, 0 0 0 0 lightblue;
		transition: all 150ms ease-in-out;
		width: 250px;
		float: left;
		margin-left: 85px;
	}

	form>input:hover {
		box-shadow: 0 0 10px 0 rgb(114, 166, 235) inset, 0 0 10px 4px rgb(101, 167, 230);
	}


	.alert-warning-yellow {
	  color: #E9EDEF;
	  background-color: rgba(243, 156, 18, 0.88);
	  border-color: rgba(8, 138, 84, 0.88); }

	.alert-warning-green {
	  color: #E9EDEF;
	  background-color: rgba(166, 243, 135, 0.88);
	  border-color: rgba(8, 138, 84, 0.88); }


	.alert-warning-red {
	  color: #E9EDEF;
	  background-color: rgba(209, 115, 115, 0.88);
	  border-color: rgba(124, 7, 7, 0.88); }

	#results {
		float: right;
		margin-right: 110px;
		margin-top: 110px;
		padding: 40px;
		padding-bottom: 30px;
		border: 1px solid;
		border-radius: 10px;
		color: white;
		font-size: 26px;
		align-self: center;
		text-align: center;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/414659/pexels-photo-414659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
		background-size: cover;
	}

	.sec1 {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),url(https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
		background-size: cover;
		background-repeat: no-repeat;
	}

	#alerts {
		margin-top: 30px;
	}

	input[type=text]{
		background: none;
		border: none;
		outline: none;
		border-bottom: 1px solid white;
		font-size: 18px;
		color: white;
		padding: 5px;
		margin: 15px;
	}

	input[type=text]:focus{
		background-color: rgba(0, 0, 0, 0.527);
	}

</style>
{% endblock %}
{% block content%}
{% if show %}
<div class="alert alert-warning-green" style="color: black;font-size:28px; font-weight: 500;">
	<strong>Success!</strong> Victim added.
</div>
{% endif %}


<div class="sec1" style="padding: 20px; border-radius: 20px; color: white;">

	<div id="results" class="bb" data-aos="zoom-in-left" data-aos-duration="2000">
		Your captured image <br>will appear here <br> <i class="fa fa-user fa-3x" style="margin-top: 10px;"></i></div>

	<div style="margin-left: 60px;" data-aos="zoom-out" data-aos-duration="2000">
		<h1>Take Snapshot</h1>
		<h3 style="border: 2px dashed rgb(132, 197, 240); border-radius: 15px; width: 130px; padding: 10px;">320x240
		</h3> <br>
		<div id="my_camera"></div> <br>
	</div>






	<!-- First, include the Webcam.js JavaScript Library -->
	<script type="text/javascript" src="{% static "js/webcam.js" %}"></script>
	<!-- Configure a few settings and attach camera -->

	<!-- A button for taking snaps -->
	<div align="center">
		<form>
			<input type=button value="Take Snapshot" onClick="take_snapshot()" data-aos="fade-up"
				data-aos-duration="2500">
		</form>
	</div>
</div>
<div id="alerts"> </div>
<div class="col-md-12 col-sm-12 col-xs-12" id='hiddenForm' style="display: none;">
	<div class="x_panel"">
		<div class="x_title">
				<h2 class="text-uppercase"> Victim Details</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
				<!--li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li-->
				<li><a class="close-link"><i class="fa fa-close"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">

			<form class="form-horizontal form-label-left" method="post" action='/saveVictim/' class="victim-form">
				{% csrf_token %} <div class="form-group">
				<div class="col-md-offset-2 col-md-6">
					<div class="input-group">
						<br>
						<input type="text" class="form-control" id='name' name='name' placeholder="Name"><br /><br /> <br>
						<input type="text" class="form-control" id='age' name='age' placeholder="Age"><br /><br /> <br>
						<input type="text" class="form-control" id='gender' name='gender'
							placeholder="Gender"><br /><br />
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary" style="margin-left: 40px; border-radius: 18px; 
									padding: 10px 20px; font-size: 20px;">
								GO!
							</button>
						</span>
					</div>
				</div>
		</div>
		</form>
	</div>
</div>
</div>
<!-- Code to handle taking the snapshot and displaying it locally -->

<!-- Code to handle taking the snapshot and displaying it locally -->
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/webcam.js" %}"></script>

<!-- Configure a few settings and attach camera -->
<script language="JavaScript">
	Webcam.set({
		width: 320,
		height: 240,
		image_format: 'jpeg',
		jpeg_quality: 90
	});
	Webcam.attach('#my_camera');
</script>
<script language="JavaScript">
	function take_snapshot() {
		// take snapshot and get image data
		Webcam.snap(function (data_uri) {
			// display results in page
			Webcam.upload(data_uri, '/upload/', function (code, text) {
				console.log('code:' + code);
				text = JSON.parse(text);
				if (text["found"] == "True") {
					console.log('text:' + text);
					document.getElementById('alerts').innerHTML =
						'<div class="alert alert-warning-red" style="color: black;font-size:28px; font-weight: 500;">' +
						'<center>Relief already handed out!</center>' +
						'</div>'
				}
				if (text["found"] == "False") {
					console.log('text:' + text);
					document.getElementById('alerts').innerHTML =
						'<div class="alert alert-warning-yellow" style="color: black;font-size:28px; font-weight: 500;"><center>Face not found!</center>' +
						'</div>';
					document.getElementById('hiddenForm').style.display = 'block';
				}
				if (text["found"] == "unknown") {
					console.log('text:' + text);
					document.getElementById('alerts').innerHTML =
					'<div class="alert alert-warning-green" style="color: black;font-size:28px; font-weight: 500;"><center>Hand out Relief!</center>' +
						'</div>';
					document.getElementById('hiddenForm').style.display = 'block';
				}
			});
			document.getElementById('results').innerHTML =
				'<h2>Here is your image:</h2>' +
				'<img src="' + data_uri + '"/>';
		});
	}
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>

<script>
	AOS.init();
</script>

{% endblock %}